{% extends "info/base.html" %}

{% load static %}  <!-- Place the load static tag outside of any block tags -->

{% block title %}
<title>Donate</title>
{% endblock title %}

{% block css %} 
.copy-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}
.copy-image {
    width: 30px;  /* Adjust the width to your desired size */
    height: 30px;  /* Adjust the height to your desired size */
    position: relative;
}
.copy-button-inside {
    position: absolute;
    top: 50;
    left: 5;
    bottom: 50;
    transform: translateX(-100%);
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
#flex-container-content {
    margin-top: 80px; /* Adjust the margin-top value as desired */
}

{% endblock css %}

{% block content%}
    <div class="flex-container" >
        <div id="flex-container-content">
        <h3>Here are several options to support the game:  </h3>
            <p>
             - Send crypto to this wallet: <span id="wallet-address">0x56cea1e2308c7CfFafeDee50b054fA9433550F82</span>
                <button class="copy-button">
                    <img src="{% static 'info/copypaste.png' %}" alt="Copy" class="copy-image">
                    <button class="copy-button-inside" onclick="copyToClipboard()"></button>
                </button>
             <br><br>
             - Buy me a coffee: <a href="https://www.buymeacoffee.com/Killergame">https://www.buymeacoffee.com/Killergame</a>       
            </p>
    </div>
    <div class="flex-container ">
    <p>
    </p>
    </div>
{% endblock content %}

{% block script %}
    function copyToClipboard() {
        var walletAddress = document.getElementById("wallet-address");
        var textArea = document.createElement("textarea");
        textArea.value = walletAddress.innerText;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);
        alert("Address copied to clipboard!");
    }
{% endblock %}
